@tailwind base;

@tailwind components;

@tailwind utilities;

@import './pikaday.css';

@import '../../node_modules/pikaday/css/pikaday.css';

/* looks like these can go away */
/* @import '../../node_modules/tippy.js/dist/tippy.css'; */

[x-cloak] {
    display: none;
}

main {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 1140px;
}

.ecl-footer-harmonised svg {
    display: inline;
}

/*
.fiche-details-component {
    border: 1px solid green;
}
.fiche-details-component:before {
    margin-top: -20px;
    position: absolute;
}

#fdc-basic-dev-current:before {
    content: "basic-dev-current";
}
#fdc-basic:before {
    content: "basic";
}
#fdc-basic-tv:before {
    content: "basic tv";
}
#fdc-basic-vg-prev:before {
    content: "basic vg prev";
}
#fdc-budget:before {
    content: "budget";
}
#fdc-budget-dev-current:before {
    content: "budget-dev-current";
}
#fdc-link-applicant-work:before {
    content: "link-applicant-work";
}
#fdc-tech-dev-current:before {
    content: "tech-dev-current";
}
#fdc-tech:before {
    content: "tech";
}
#fdc-tech-tv:before {
    content: "tech-tv";
}
#fdc-points:before {
    content: "points";
}
#fdc-summary:before {
    content: "summary";
}
#fdc-ownership:before {
    content: "ownership";
}
#fdc-prev-support-tv:before{
    content: "prev-support-tv";
}
*/

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    body.wizard-page {
        background: url('../images/dossier/dots-side-1.png') right 35% no-repeat;
    }
}

@media (min-width: 1280px) {
    body.dossier-page {
        background: url('../images/dossier/dots-vertical-1.png') 2% 305px no-repeat;
    }

    body.error-page {
        background: url('../images/dossier/dots-vertical-1.png') 2% 152px no-repeat;
    }

    body.public-page {
        background: url('../images/dossier/dots-vertical-1.png') 2% 152px no-repeat;
    }
}


