/**
 * This theme is an example to show how you can create your own.
 */
.pika-single.moviedb-theme {
    @apply  .bg-white .text-gray-900 .rounded-md .shadow-md;
}

.moviedb-theme .pika-label {
    @apply .bg-white;
}

.moviedb-theme .pika-prev,
.moviedb-theme .is-rtl .pika-next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==') #999;
}

.moviedb-theme .pika-next,
.moviedb-theme .is-rtl .pika-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC') #999;
}

.moviedb-theme .pika-table th {
    color: #999;
}

.moviedb-theme .pika-button {
    @apply .bg-white .text-gray-900;
    text-align: center;
}

.moviedb-theme .pika-week {
    color: #999;
}

.moviedb-theme .is-today .pika-button {
    @apply .text-orange-500;
}

.moviedb-theme .is-selected .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
}

.moviedb-theme .is-disabled .pika-button {
    color: #999;
    opacity: .3;
}

.moviedb-theme .pika-button:hover {
    @apply .bg-blue-300 .text-white;
}
